<!DOCTYPE html>
<html>
  <head>
    <title>{{titulo}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="Shortcut Icon" href="images/logos/favicon-16x16.png" type="image/x-icon" />
    <link rel="shortcut icon" href="images/logos/favicon.ico" type="image/x-icon">

  </head>
  <body>
    {{{body}}}
  </body>
</html>