body {
    background-color: #E74C3C;
}

p {
    text-align: center;
    color: aliceblue;
}

.btn a {
    text-align: center;
    color: black;
}

.btn a:hover {
    text-align: center;
    color: black;
}

.btn-info {
    background-color: rgb(230, 233, 240);
    border-color: rgb(26, 188, 156)
}

.btn-info:active,
.btn-info:focus,
.btn-info:hover {
    background-color: rgb(26, 188, 156)!important;
    border-color: rgb(26, 188, 156)!important;
    color: #fff;
    text-decoration: none;
}

.btn-info:active,
.btn-info:focus {
    box-shadow: 0 0 0 .2rem rgb(26, 188, 156)!important
}

.btn-primary {
    background-color: rgb(33, 126, 121);
    border-color: rgb(26, 188, 156)
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: rgb(26, 188, 156)!important;
    border-color: rgb(26, 188, 156)!important;
    color: #fff
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgb(26, 188, 156)!important
}

.btn-success {
    background-color: #28B463;
    border-color: rgb(26, 188, 156)
}

.btn-success:active,
.btn-success:focus,
.btn-success:hover {
    background-color: rgb(26, 188, 156)!important;
    border-color: rgb(26, 188, 156)!important;
    color: #fff
}

.btn-success:active,
.btn-success:focus {
    box-shadow: 0 0 0 .2rem rgb(26, 188, 156)!important
}

#imagen:hover {
    width: 400px;
    height: 400;
}