body {
    background-color: rgb(47, 151, 255);
}

a {
    color: rgb(26, 188, 156)
}

.container .jumbotron {
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.container .jumbotron:hover {
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container .parrafo .jumbotron {
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    text-align: justify;
}

.container .navbar {
    border-radius: 5px;
}

.container .navbar .nav .nav-item:hover {
    background-color: rgb(80, 170, 173);
    border-radius: 5px;
}

.container .parrafo .jumbotron li:hover {
    background-color: rgb(81, 207, 211);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    text-align: justify;
}

.container .parrafo .jumbotron li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3px;
    text-align: justify;
}

.container .parrafo .jumbotron p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3px;
    text-align: left;
}

.container .parrafo .jumbotron li a {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    text-align: justify;
    text-decoration: none;
}